.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.fit-container {
  height: 100%;
  width: 100%;
}